@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src:
    local("Neue Haas Grotesk Display Pro 45 Light"),
    local("NeueHaasGroteskDisplayPro-Light"),
    url("/fonts/NeueHaasGroteskDisplayPro-Light.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplayPro-45Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src:
    local("Neue Haas Grotesk Display Pro 55 Roman"),
    local("NeueHaasGroteskDisplayPro-Roman"),
    url("/fonts/NeueHaasGroteskDisplayPro-Roman.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplayPro-55Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src:
    local("Neue Haas Grotesk Display Pro 65 Medium"),
    local("NeueHaasGroteskDisplayPro-Medium"),
    url("/fonts/NeueHaasGroteskDisplayPro-Medium.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplayPro-65Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src:
    local("Neue Haas Grotesk Display Pro 75 Bold"),
    local("NeueHaasGroteskDisplayPro-Bold"),
    url("/fonts/NeueHaasGroteskDisplayPro-Bold.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplayPro-75Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
