.section {
  background-color: #000200;
  padding-top: 56px;
}

.ctaContainer {
  max-width: 1280px;
}

.bannerFigure {
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 32px;
  overflow: hidden;
}

.bannerImage {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  .bannerFigure {
    border-radius: 24px;
  }
}
